<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Genres</title>
  </head>
  <h1>Genres</h1>
  <body>
    <%@genres.each do |genre|%>
      <li><a href="/genres/<%= genre.slug %>"><%=genre.name%></a></li>
    <%end%>
  </body>
</html>
